.dataFormPageBtnBlock > .dataformpageButton  {
    background-color: #78154a;;
}

.dataFormPageBtnBlock > .dataformpageButton:hover {
    background-color: #620f3b;;
}


.dataFormPageBtnBlock > .dataformpageButton:disabled  {
    background-color: #c7c0c3;;
}